<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.voss.qa.tests.AutomationExercisePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VOSSTest2LoginLogOut</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VOSSTest1PageTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VOSSTest4FakePriceingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VOSSTest3FillOutForms</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
