<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cb64ae">  <td>20/03/09 10:56:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationExercisePageTest.VOSSTest1PageTitle()[pri:0, instance:com.voss.qa.tests.AutomationExercisePageTest@64729b1e]">VOSSTest1PageTitle</td> 
  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/03/09 10:56:56</td>   <td>9143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationExercisePageTest.VOSSTest2LoginLogOut()[pri:1, instance:com.voss.qa.tests.AutomationExercisePageTest@64729b1e]">VOSSTest2LoginLogOut</td> 
  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/03/09 10:57:07</td>   <td>20101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationExercisePageTest.VOSSTest3FillOutForms()[pri:2, instance:com.voss.qa.tests.AutomationExercisePageTest@64729b1e]">VOSSTest3FillOutForms</td> 
  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/03/09 10:57:23</td>   <td>36206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationExercisePageTest.VOSSTest4FakePriceingPage()[pri:4, instance:com.voss.qa.tests.AutomationExercisePageTest@64729b1e]">VOSSTest4FakePriceingPage</td> 
  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/03/09 10:56:38</td>   <td>-8537</td> <td>&nbsp;</td><td title="&gt;&gt;AutomationExercisePageTest.setUpBrowser()[pri:0, instance:com.voss.qa.tests.AutomationExercisePageTest@64729b1e]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/03/09 10:56:38</td>   <td>-8828</td> <td title="&gt;&gt;AutomationExercisePageTest.setUpTest()[pri:0, instance:com.voss.qa.tests.AutomationExercisePageTest@64729b1e]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/03/09 10:57:48</td>   <td>61720</td> <td>&nbsp;</td><td title="&lt;&lt;AutomationExercisePageTest.tearDownBrowser()[pri:0, instance:com.voss.qa.tests.AutomationExercisePageTest@64729b1e]">&lt;&lt;tearDownBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/03/09 10:57:48</td>   <td>61791</td> <td title="&lt;&lt;AutomationExercisePageTest.tearDownTest()[pri:0, instance:com.voss.qa.tests.AutomationExercisePageTest@64729b1e]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
</table>
